<div class="container">
  <footer class="py-3 my-4 border-top">
    <ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item">
        <a href="{% url 'diary:diary_list' %}" class="nav-link px-2 text-body-secondary">Записи</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'diary:diary_create' %}" class="nav-link px-2 text-body-secondary">Новая запись</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'users:logout' %}" class="nav-link px-2 text-body-secondary">Выйти</a>
      </li>
    </ul>

    <p class="text-center text-body-secondary">
      &copy; {% now "Y" %} Personal Diary
    </p>
  </footer>
</div>