{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">

    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">
        Вход в личный дневник
      </h1>
      <p class="col-lg-10 fs-5 text-muted">
        Войдите, чтобы создавать, редактировать и хранить свои записи.
      </p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div class="form-floating mb-3">
          {{ form.username }}
          <label for="{{ form.username.id_for_label }}">Email</label>
          {% if form.username.errors %}
            <div class="text-danger small mt-1">{{ form.username.errors }}</div>
          {% endif %}
        </div>

        <div class="form-floating mb-3">
          {{ form.password }}
          <label for="{{ form.password.id_for_label }}">Пароль</label>
          {% if form.password.errors %}
            <div class="text-danger small mt-1">{{ form.password.errors }}</div>
          {% endif %}
        </div>

        <button class="w-100 btn btn-lg btn-dark" type="submit">Войти</button>

        <hr class="my-4">
        <small class="text-body-secondary">
          Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a>
        </small>
      </form>
    </div>

  </div>
</div>
{% endblock %}
